/*Fonts*/

$base-size: 16px;
$font-family-sans-serif: 'Open Sans',
sans-serif;
$h2-font-size: 36px;

/*Header Features*/


/*Padding Features*/

$container-up-padding: 76px;
$paragraph-margin-bottom: 26px;
$header-margin-bottom: 4rem;

/*Block-wrapper Features*/

$btn-padding-x: 21px;
$btn-padding-y: 11px;

/*Font Features*/

$font-quatro:'Quattrocento Sans',
sans-serif;