/*Colors*/

$white: #ffff;
$body-color: #8d8f92;
$block-wrapper-bg: #3a454d;

/*Header Colors*/

$header-color: #1d2126;
$headings-color: #292f36;
$headings-border-color:#e1e6ea;

/*Navigation Color*/

$nav-color: #a4aead;
$nav-border-color: #5b6168;
$nav-active: #23b7a4;

/*Main Colors*/

$networks-bg:#c8cdd0;
$networks-bg-hover:#d0d5d9;
$card-text:#dcdfe1;
$border-main-header:#4e5a62;
$form-bg: #eaeef1;
$hover-img: rbga(41, 47, 54, .5);
$nav-network-hover: #3a454d;
$border-color: #dde1e4;